*.rbc
*.sassc
.sass-cache
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/public/system/*
/public/uploads/*
/public/assets/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
.idea/
config/database.yml